.git
.github
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.env
db.sqlite3
staticfiles/
.vscode/
.expo/
node_modules/
frontend/
mobile/
