
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #333;
    color: white;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
    z-index: 1000;
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  