
.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav li {
  display: inline-block;
  margin-right: 1rem;
}

.header nav a {
  color: #fff;
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.product img {
  max-width: 100%;
}

.cart {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
}
